/* CREATE PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */

header {
  background-image: url('http://localhost:3000/assets/images/psycho.png');
}

#racer-image {
  width: 120px;
  height: 420px;
}

.racer-stats {
  width: 100%;
  padding: 10px;
}

.racer-bar {
  width: 100%;
  height: 10px;
  position: relative;
  border: 1px solid gray;
}

.racer-filled-bar {
  height: 10px;
  position: absolute;
}

.card {
  margin-right: 20px;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}